<form action="/add" method="POST">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Contéudo</p>
    <textarea name="conteudo" required></textarea>
    <button type="submit">Cadastrar Postagem</button>
 </form>