*{
   margin:0px; 
    padding:0px; 
    border:none; 
    font-family:arial; 
}
body{
    background-color:#ddd; 
    margin:0px; 
    padding:0px; 
    border:none; 
}
h1{
    color:#000; 
}
.topo{
    width:100%; 
    background-color:#004; 
    color:#fff; 
    display:flex; 
}
.btn{
    background-color:#ddd; 
    color:#000; 
    border-radius:5px; 
    padding:5px 15px; 
    margin:5px; 
}
a{
    text-decoration:none; 
}